<div class="callout large">
  <div class="small-4 large-2 columns" id="action-buttons">
    <h1> <%= @user.first_name %> <%= @user.last_name %> </h1>
    <h3> <%= @user.email %> </h3><br>
    <%= link_to "Edit Account", edit_user_registration_path(@user), class: "button hollow" %>
    <%= link_to "Back", books_path, class: "button hollow" %>
  </div>
  <div class="small-8 large-4 columns">
    <%= @user.description %>
  </div>
</div>
