<div class="callout large">
  <div class="small-5 large-2 columns" id="action-buttons">
    <h1 id="show-page"> <%= @user.first_name %> <%= @user.last_name %> </h1>
    <h2 id="show-page"> <%= @user.email %> </h2><br>
  </div>
  <div class="small-7 large-4 columns">
    <%= @user.description %>
    <br><br>
    <div id="action-buttons">
      <%= link_to "Edit Account", edit_user_registration_path(@user), class: "button hollow" %>
      <%= link_to "Back", books_path, class: "button hollow" %>
    </div>
  </div>
</div>
