<div class="small-6 small-centered columns"><br>
  <h1> Add a Book </h1>
  <%= form_for @book do |f| %>
    <% f.hidden_field :user_id %>
    <div class="field">
      <% f.label :title %>
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="field">
      <%= f.fields_for :author do |o| %>
        <%= o.text_field :first_name, placeholder: "Author First Name" %>
        <%= o.text_field :last_name, placeholder: "Author Last Name" %>
      <% end %>
    </div>
    <div class="field">
       <% f.label :description %>
       <%= f.text_area :description, placeholder: "Description" %>
    </div>
    <div class="field">
       <% f.label :pages %>
       <%= f.text_field :pages, placeholder: "Pages" %>
    </div>
    <div class="field">
       <% f.label :publication_date %>
       <%= f.text_field :publication_date, placeholder: "Publication Date" %>
    </div>
    <div>
      <%= f.submit "Submit Book", class: "hollow button" %>
    </div>
  <% end %>
  <div>
    <%= link_to "Back", books_path, class: "hollow button" %>
  </div>
</div>
