<div class="small-centered columns" id="bookshow">
  <br>
  <h1> <%= @book.title %> </h1>
  <h2><%= @book.author %></h2><br>
  <h3><%= @book.description %></h3>
  <h3><%= @book.pages %> Pages | Publication Date: <%= @book.publication_date %></h3>

  <%= link_to "Edit Book", edit_book_path(@book) %> |
  <%= link_to "Delete Book", book_path(@book), method: :delete %> |

  <%= link_to "Back", books_path %><br>
  <br>

</div>
